@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    transition: 2s;
}

h1{
    color: #fff;
    text-shadow: -1px -1px 1px gray;
    
}

.trilho{
    background-color: #4d4d4d;
    width: 350px;
    height: 150px;
    border-radius: 150px;
    position: relative;/*para o .indicador ficar apenas dentro do espaço de .trilho*/
    cursor: pointer;
    margin: 40px;
}

.trilho .indicador{
    background-color: #000;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .5s;
}

.trilho.dark{
    background-color: #c3c3c3;
}

.trilho.dark .indicador{
    left: 200px;
    background-color: white;
}

body.dark{
    background-color: #e4e4e4;
}

body.dark h1{
    color: black;
}
